* {
    text-decoration: none;
    font-weight: 700;
}

input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.login_page {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 670px;
    margin-top: 60px;
    border: solid 4px;
    border-color: darkred;
    display: none;
}

.head-title {
    font-family: sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    min-width: 750px;
    background: white;
}

.head-title span {
    color: red;
}

.login_page input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 15px;
    width: 70%;
    margin-bottom: 15px;
    background: #fff;
}

.login_page input:focus {
    border: 1px solid #ccc;
    background: #fff;
}

.content_page {
    background-color: white;
    /* margin-left: auto;
    margin-right: auto; */
    transition: 0.3s ease;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    position: relative;
}

.rt_buttons {
    cursor: pointer;
    user-select: none;
    text-decoration: none !important;
    display: block;
    position: absolute;
    top: 10px;
    right: 1%;
    margin-bottom: 20px;
    display: inline-block;
    color: #F2F2F2;
    text-decoration: none;
    transition: 0.3s ease;
}

.text-hover:hover {
    background-color: gray;
    transition: 0.3s;
}

.main-title {
    color: white;
    position: relative;
    margin-left: 1%;
    top: 15%;
    font-family: 'Amaranth', sans-serif;
    font-size: 52px;
    user-select: none;
}

.btn-space {
    margin: 15px 10px;
}

/* .sort-lable {
    color: white;
    font-family: 'Nunito', sans-serif;
    display: block;
} */

#shop-section button {
    transition: all 0.3s ease 0s;
    font-weight: 500;
    letter-spacing: 2.5px;
}

#shop-section button:hover {
    background-color: #e6e6e6;
    color: #040e27;
    box-shadow: 0px 15px 20px rgba(101, 46, 229, 0.699);
    transform: translateY(-7px);
}

#shop-section button:active {
    transform: translateY(4px);
}

#shop-section button:focus {
    box-shadow: 0px 8px purple;
    background-color: #e6e6e6;
    color: #040e27;
    transform: translateY(4px);
}

.sort-lable label {
    border-radius: 3px;
    background-color: #7b7b7b;
    color: white;
}

.sell-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    font-size: 21px;
}

.sell-form img {
    width: 400px;
    height: 300px
}

#sell-price {
    width: 10%;
}

.sell-form select {
    width: auto;
}

select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    background-color: white;
    padding: 5px;
    margin: 0px;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.form-bottom {
    position: relative;
}

.sell-form button {
    background-color: #c4c4c5;
    margin: 0;
    position: absolute;
    left: 500px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 15px;
    font-size: 100%;
    text-align: center;
    width: 13%;
    height: 60px;
    transition: all 0.3s ease-in-out;
}

.sell-form button:hover {
    outline: 0;
    background-color: #e6e6e6;
}

.user-div {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100px;
    display: block;
    overflow: hidden;
}

hr {
    position: relative;
    margin-top: 0%;
    margin-bottom: 0;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.show-container {
    position: relative;
    /* display: inline-flex; */
    display: -ms-flexbox;
    flex-direction: row;
    -ms-flex-direction: row;
    width: 1000px;
    max-width: 1000px;
    /*min-width: 0;*/
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .225);
    border-radius: .25rem;
}

.post-pic {
    float: left;
    width: 290px;
    height: 250px;
    margin: 10px;
}

.post-title {
    font-size: 26px;
}

.show-container .material-icons {
    position: absolute;
    padding: 10px;
    font-size: 35px;
    top: 0px;
    right: 0;
    border: solid 2px;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
    background-color: black;
    color: white;
    transition: 0.3s ease;
    user-select: none;
}

.show-container .material-icons:hover {
    color: rgba(0, 0, 0, 1);
    background-color: #e6e6e6;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.select-sort {
    display: flex;
    /* margin-bottom: 15px; */
    max-width: 1020px;
}

.top-section {
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    margin-bottom: 10px;
}

.show_products {
    /* position: relative; */
    /* position: absolute; */
    z-index: 10;
    overflow: auto;
}

.input-formControl {
    overflow: auto;
    width: 40%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.your-selling-field {}

.your-selling-table {
    border: 1px solid;
    width: 80%;
}

.sign-with-google {
    cursor: pointer;
    content: url('./image/btn_google_signin_light_normal_web.png')
}

.sign-with-google:hover, .sign-with-google:focus {
    content: url('./image/btn_google_signin_dark_focus_web.png')
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgba(2, 12, 22, 0.5);
}

.nav-pills .nav-item a {
    color: #040e27;
}

.nav-pills .nav-item a:hover {
    background-color: #c4c4c5;
}

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-header .price {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

svg {
    cursor: pointer;
    display: inline-block;
    font: 10.5em 'Arial';
}

.text-copy {
    fill: aliceblue;
    font-size: 60px;
    animation: title-stroke 3s infinite;
}

@keyframes title-stroke {
    0% {
        fill: aliceblue;
        opacity: 1;
        font-size: 60px;
        letter-spacing: 3px;
    }
    50% {
        fill: white;
        opacity: 0.1;
        font-size: 50px;
        letter-spacing: 8px;
    }
    100% {
        opacity: 1;
        fill: aliceblue;
        font-size: 60px;
        letter-spacing: 3px;
    }
}

.card-text {
    max-width: 700px;
    max-height: 250px;
    overflow: auto;
}

.card-title {
    max-width: 650px;
}

td {
    max-width: 300px;
    overflow: auto;
}

.text-center {
    text-align: center !important;
}